<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("partials/head.ejs") %>
        <title>Home</title>
</head>

<body>
    <header>
        <h1>Swiper</h1>
    </header>

    <main>
        <ul>
            <% for (let i = 0; i <allUsers.length; i++) { %>
                <li>
                    <figure>
                        <a href="profile">
                            <img src="images/users/<%= allUsers[i].photo %>" alt="Profile picture of ">
                            <figcaption>
                                <h2>
                                    <%= allUsers[i].name %>, <%= allUsers[i].age %>
                                </h2>
                                <h3>
                                    <%= allUsers[i].work %>, <%= allUsers[i].id %>
                                </h3>
                                <form action="/match" method="POST">
                                    <label for="dislike">
                                        <input type="submit" name="dislike" class="dislike" data-id="<%= allUsers[i].id %>" value="&times">
                                    </label>
                                    <label for="like">
                                        <input type="submit" name="like" class="like" data-id="<%= allUsers[i].id %>" value="â¤">
                                    </label>
                                    <!-- <input type="submit" value="Verstuur"> -->
                                </form>
                            </figcaption>
                        </a>
                    </figure>
                </li>
                <% } %>
        </ul>
        <p>Er zijn geen gebruikers meer om te laten zien, kom later terug.</p>
    </main>

    <footer>
        <%- include ("partials/footernav-home.ejs") %>
    </footer>
    <script src="scripts/script.js"></script>
</body>

</html>