<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("partials/head.ejs") %>
        <title>Home</title>
</head>

<body>
    <header>
        <h1>Swiper</h1>
    </header>

    <main>
        <ul>
            <% for(let i = 0; i <users.length; i++) { %>
                <li>
                    <figure>
                        <a href="profile">
                            <img src="images/users/<%= users[i].photo %>" alt="Profile picture of ">
                            <figcaption>
                                <h2>
                                    <%= users[i].name %>, <%= users[i].age %>
                                </h2>
                                <h3>
                                    <%= users[i].work %>
                                </h3>
                                <form action="/" method="POST">
                                    <button name="dislike" class="dislike"><img src=" images/dislike.svg " alt="dislike person "></button>
                                    <button name="like" class="like"><img src="images/like.svg" alt="liking person"></button>
                                </form>
                            </figcaption>
                        </a>
                    </figure>
                </li>
                <% } %>
        </ul>
    </main>

    <footer>
        <%- include ("partials/footernav-home.ejs") %>
    </footer>
    <script src="scripts/script.js"></script>
</body>

</html>