<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("partials/head.ejs") %>
        <title>Home</title>
</head>

<body class="home">
    <header>
        <h1>Swiper</h1>
    </header>

    <main>
        <ul>
            <% for (let i = 0; i <users.length; i++) { %>
                <li>
                    <section>
                        <a href="profile">
                            <picture>
                                <source srcset="images/users/<%= users[i].photo %>.jpg" media="(min-width: 800px)">
                                <img src="images/users/<%= users[i].photo %>min.jpg" />
                            </picture>
                            <article>
                                <h2>
                                    <%= users[i].name %>,
                                        <%= users[i].age %>
                                </h2>
                                <h3>
                                    <%= users[i].work %>,
                                        <%= users[i].id %>
                                </h3>
                                <form action="/match" method="POST">
                                    <label for="dislike">
                                        <input type="submit" name="dislike" class="dislike" data-id="<%= users[i]._id %>" value="&times">
                                    </label>
                                    <label for="like">
                                        <input type="submit" name="like" class="like" data-id="<%= users[i]._id %>" value="â¤">
                                    </label>
                                    <div>
                                        <label for="undo">
                                             <input type="submit" id="undo" name="undo" class="like" value="&crarr;">
                                        </label>
                                    </div>
                                </form>
                            </article>
                        </a>
                    </section>
                </li>
                <% } %>
        </ul>
        <p>Er zijn geen gebruikers meer om te laten zien, kom later terug.</p>
    </main>

    <footer>
        <%- include ("partials/footernav-home.ejs") %>
    </footer>
    <script src="scripts/script.js"></script>
</body>

</html>