<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("partials/head.ejs") %>
        <title>Match-List</title>
</head>

<body class="matchlist">
    <header>
        <a href="/">
            <h1>Swiper</h1>
        </a>
    </header>

    <main>
        <ul>
            <% for (let i = 0; i < liked.length; i++) { %>
                <li>
                    <article id="person-options">
                        <figure>
                            <img src="images/users/<%= liked[i].photo %>" alt="Liked user">
                        </figure>
                        <figcaption>
                            <h2>
                                <%= liked[i].name %>,
                                    <%= liked[i].age %>
                            </h2>
                            <p>You've got a match, lets talk!</p>
                        </figcaption>
                        <div class="delete">
                            <img src="images/icons/delete.svg" alt="">
                        </div>
                    </article>
                    <!-- <div></div> -->
                </li>
                <% }%>
        </ul>
    </main>
    <footer>
        <%- include ("partials/footernav-matches.ejs") %>
    </footer>
    <script src="scripts/script.js"></script>

</body>

</html>