<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("partials/head.ejs") %>
    <title>Match-List</title>
  </head>

  <body class="matchlist">
    <header>
      <a href="/">
        <h1>Swiper</h1>
      </a>
    </header>

    <main>
      <ul>
        <% for (let i = 0; i < users.length; i++) { %>
        <li>
          <article id="person-options">
            <figure>
              <img src="images/users/<%= users[i].photo %>.jpg" alt="Liked user" />
            </figure>
            <figcaption>
              <h2>
                <%= users[i].name %>, <%= users[i].age %>
              </h2>
              <p>You've got a match, lets talk!</p>
              <p>
                <%= users[i]._id %>
              </p>
            </figcaption>
          </article>
        </li>
        <% }%>
      </ul>
    </main>
    <footer>
      <%- include ("partials/footernav-matches.ejs") %>
    </footer>
    <script src="scripts/client.js"></script>
  </body>
</html>
