<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("partials/head.ejs") %>
        <title>Match-List</title>
</head>

<body>
    <header>
        <%- include ("partials/navigation.ejs") %>
    </header>

    <main class="matchlist">
        <article>
            <figure>
                <img src="images/user1round.png" alt="">
            </figure>
            <figcaption>
                <h2>
                    <%= matches[0].name%> ,
                        <%= matches[0]].age%>
                </h2>
                <p>You've got a match, lets talk!</p>
            </figcaption>
        </article>
        <div></div>
        <article>
            <figure>
                <img src="images/user2round.png" alt="">
            </figure>
            <figcaption>
                <h2>
                    <%= matches[1].name%> ,
                        <%= matches[1].age%>
                </h2>
                <p>You've got a match, lets talk!</p>
            </figcaption>
        </article>
        <div></div>
        <article>
            <figure>
                <img src="images/user3round.png" alt="">
            </figure>
            <figcaption>
                <h2>
                    <%= matches[2].name%> ,
                        <%= matches[2].age%>
                </h2>
                <p>You've got a match, lets talk!</p>
            </figcaption>
        </article>
        <div></div>
    </main>
    <footer>
        <%- include ("partials/footer.ejs") %>
    </footer>
</body>

</html>