<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("partials/head.ejs") %>
        <title>Profile page </title>
</head>

<body class="profile">
        <ul>
            <li>
                <a href="/"><img src="images/icons/back.svg" alt="back"></a>
            </li>
            <li>
                <a href="#"><img src="images/icons/share.svg" alt="share"></a>
            </li>
        </ul>
        <section>
            <picture>
                <source srcset="images/users/<%= users.photo %>.jpg" media="(min-width: 768px)">
                <img src="images/users/<%= users.photo %>min.jpg" />
            </picture>
            <div></div>
            <div></div>
        </section>
        <section>
            <article>
                <h2>
                    <%= users.name %>,
                        <%= users.age %>
                </h2>
                <h3>
                    <%= users.work %>
                </h3>
                <div class="images">
                    <img src="images/users/<%= users.photo %>min.jpg" alt="Profile picture of ">
                    <img src="images/users/<%= users.photo %>min.jpg" alt="Profile picture of ">
                    <img src="images/users/<%= users.photo %>min.jpg" alt="Profile picture of ">
                </div>
                <div>
                    <h4>Hobby's</h4>
                    <p>Fitness, Reizen, Bakken</p>

                </div>
                <div>
                    <h4>About</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam odio neque enim facilisi eu nunc in amet, vestibulum.</p>
                </div>
                <form action="/match" method="POST"></form>
                <label for="dislike">
                        <input type="submit" name="dislike" class="dislike" data-id="<%= users.id %>" value="&times">
                    </label>
                <label for="like">
                        <input type="submit" name="like" class="like" data-id="<%= users._id %>" value="â¤">
                    </label>
                </form>
            </article>
        </section>
        <script src="scripts/client.js"></script>

</body>

</html>