<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("partials/head.ejs") %>
        <title>Overview</title>
</head>

<body>
    <header>
        <%- include ("partials/navigation.ejs") %>
    </header>

    <main>
        <!-- Overview pagina -->
        <section>
            <a href="profile">
                <figure>
                    <img src="images/user1.png" alt="">
                    <figcaption>
                        <h2>
                            <%= data.name %>
                        </h2>
                        <h3>
                            <%= data.age %>
                        </h3>
                    </figcaption>
                </figure>
            </a>
        </section>
        <section>
            <button><img src="images/dislike.svg" alt=""></button>
            <button onclick="location.href='match'"><img src="images/like.svg" alt=""></button>
            <button><img src="images/share.svg " alt=" "></button>
        </section>
    </main>
    <footer>
        <%- include ("partials/footer.ejs") %>
    </footer>
</body>

</html>