<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Document</title>
</head>

<body>
    <%- include ("partials/nav.ejs") %>

        <h1>Dit is het profiel van
            <% for(let = person) { %>
                <% if (person.name === 'jordy') { %>
                    <li>This is definitly
                        <%= person.name %>
                    </li>
                    <% } else { %>
                        <li>This is definitly
                            <%= person.name %>
                        </li>
                        <% } %>
                            <%} %>

        </h1>
        <h2> Ik ben
            <%= data.age %>,
                <%= data.job %>,
        </h2>
        <h3>Hobbies</h3>
        <ul>
            <% data.hobby.forEach(function(item) { %>
                <li>
                    <%= item %>
                </li>
                <% }); %>
        </ul>
</body>

</html>